<h1>list-productos works!</h1>
<hr>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid" class="contenedor animated fadeIn" fxLayoutAlign="flex-start">

      <div fxFlex="25%" fxFlex.sm="10%" fxFlex.md="33" *ngFor="let producto of productos" >

        <mat-card class="prod">

          <mat-card-header>
            <mat-card-title>{{ producto.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src= "{{ producto.img }}" class="card-img-top" alt="...">

          <mat-card-content align="center">
            <h3> {{ producto.description }} </h3>
          </mat-card-content>

          <div class="card-footer">
            <small class="text-muted">Aparición:</small>
          </div>

          <div align="center">
            <button type="button" class="btn btn-outline-primary w-100 ">
              ver más
            </button>
          </div>
        </mat-card>

      </div>
</div>

