<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<h1>list-productos works!</h1>
<hr>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid" class="contenedor animated fadeIn" fxLayoutAlign="flex-start">

      <div fxFlex="25%" fxFlex.sm="10%" fxFlex.md="33" *ngFor="let producto of productos" >

        <mat-card class="prod">

          <mat-card-header>
            <mat-card-title> Producto </mat-card-title>
          </mat-card-header>
          <img mat-card-image src= "" class="card-img-top" alt="...">
          {{ producto.img }}
          <mat-card-content align="center">
            <h3> {{ producto.name }} </h3>
          </mat-card-content>

          <div class="card-footer">
            <small class="text-muted">{{ producto.description }} </small> <!--GARANTIA-->
          </div>

          <div align="center" >
            <button type="button" class="btn btn-outline-primary w-100 ">
              ver más
            </button>
          </div>
        </mat-card>

      </div>
</div>

