
<div >
    <h1> Categoria: 
        {{ categoria.categoryId }}, 
        {{ categoria.categoryName }}  
    </h1>
</div>
<!---->

<div  style="clear: left;  width: 100%;" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid" class="contenedor animated fadeIn" fxLayoutAlign="flex-start">
    <!-- getProductsByCategory()  desde  _productosService -->
    <div fxFlex="20%" fxFlex.sm="50%" fxFlex.md="25%" *ngFor="let pc of productosByCategory " >
        <mat-card class="matCarPro">
            <mat-card-header>
                <mat-card-title> Laptop </mat-card-title>
            </mat-card-header>
            <img class="imageTr" mat-card-image [src]="getImgUrl(pc.img)" alt="Fotografia de muestra" (click)="productInfo(pc)" >

            <mat-card-content align="center">
                <h3> {{ pc.name2 }} </h3>   <!--nombre opcional-->
                <hr>
                <h3> {{ pc.name }} </h3>
            </mat-card-content>

            <div class="card-footer">
                <small class="text-muted"> Precio: {{ pc.price }}</small>  <!--GARANTIA-->
            </div>

            <div align="center"  >
            <button type="button" class="btn btn-outline-primary w-100" (click)="productInfo(pc)">
                ver más
            </button>
            </div>
            
        </mat-card>
    </div>
</div>

