/* mat-accordion*/
.bodyExpansionPanel:hover{
  width: 100%;
  color: orange;
  cursor: pointer;
}
.categoryId{
  width: 35%;
   float: left;
}
.categoryName{
  width: 65%;
  float: right; 
  opacity: 0.7;
}
/* Fin mat-accordion*/


.contenedor{
  /*clear: left;*/
  width: 100%;
  padding-bottom: 80px;
}
.contenedorImg{         /*<div class="contenedorImg" mat-card-avatar >  mat-card-avatar = sirve para tener la imagen del contenedor de un mismo tamaño   */
  width: 100%;
  /*height: 20%;*/
  padding-top: 15px;
}
.imageTr{
  padding-top: 20px;
  width: 60%;
  height: 25vh;
}

.card{
  text-align: center;
  margin: 10px;   /*espacio entre card*/
  border-radius: 30px; 
  border-width: 2px;
}

/*Estilo de Scrollable, barra vertical de desplazamiento para ver todo el contenido */
.matCardContent{ 
  width: 100%;
  height: 15vh;  
  overflow-x: hidden; 
  overflow-y: auto;   
}
/*Desaparece la barra vertical, manteniendo el movimiento hacia abajo para ver todo el contenido*/
.matCardContent::-webkit-scrollbar {
  -webkit-appearance: none;
  width:10px;
}

.name1{
  width: 100%;
  height: 25px;
  overflow-x: hidden; 
  overflow-y: auto;   
}
.name1::-webkit-scrollbar {
  -webkit-appearance: none;
  width:10px;
}

/*Loading*/
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Extra large device (laptops/desktops), 1200 and up */
@media only screen and (max-width: 1200px), screen and (max-device-width: 1200px ){

}
/*large device (laptops/desktops), 992 and up */
@media only screen and (max-width: 992px), screen and (max-device-width: 992px ){
   
  .contenedor{
    clear: left;
    width: 100%;
  }
  .imageTr{
    width: 100%;
  
  }
  
  .card{
    padding-bottom: 70%; /* espacio abajo del boton */
  }
  
    
}

/*Medium  device (landscape tablets), 768 and up */
@media only screen and (max-width: 768px), screen and (max-device-width: 768px ){

  .contenedor{
    clear: left;
    width: 100%;
  }
  .imageTr{
    width: 100%;
  }
  .card{
    padding-bottom: 30%; /* espacio abajo del boton */
  }

}


/*Small  device (portrait phone), 600 and up */
@media only screen and (max-width: 600px), screen and (max-device-width: 600px ){
  .contenedor{
    clear: left;
    width: 100%;
  }
  .imageTr{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
  }
  .card{
    padding-bottom: 30%; /* espacio abajo del boton */
  }

}