<br><br><br><br>
<div style=" text-transform: uppercase;  ">
    <h1> Categoria 
        {{ categoria.categoryId }} 
        {{ categoria.categoryName }}  
    </h1>
</div>

<mat-accordion>
    <mat-expansion-panel>
        <!--Header-->
      <mat-expansion-panel-header>
            <mat-panel-title style="width: 35%; float: left; ">
                <h2>Categorias</h2>
            </mat-panel-title>
            <mat-panel-description style="width: 65%; float: right;">
            <h2>:)</h2> 
            </mat-panel-description>
      </mat-expansion-panel-header>
      <!--Body  -->
      <div class="bodyExpansionPanel" *ngFor="let categoria of categorias"  (click)="getCategoryIdExpasionPanel1(categoria.categoryId)" (click)="getCategoryIdExpasionPanel2(categoria.categoryId)">
            <!--Categoria 1,2,3 Para el hogar, Para Gamers, Para el trabajo "-->
            <div class="categoryId">
                <h4>Categoria {{ categoria.categoryId }} </h4>
            </div>
            <div class="categoryName">
                <h4> {{ categoria.categoryName }} </h4> 
            </div>
      </div>
    </mat-expansion-panel>
</mat-accordion>

  
<!--Agregando loader.gif-->
<div class="loading"  *ngIf="loading" style="float: fixed;" >
  <img src="assets/img/loader.gif" alt="">
</div>
<br><br><br><br>

<div  class="contenedor animated fadeIn"  fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="flex-start">
    <!-- getProductsByCategory()  desde  _productosService -->
    <div fxFlex="25%" fxFlex.sm="50%"  *ngFor="let pc of productosByCategory " >
        <mat-card class="card">

            <div class="contenedorImg" >
                <img class="imageTr" mat-card-image [src]="getImgUrl(pc.img)" alt="Fotografia de muestra" (click)="productInfo(pc)" >
            </div>
            
            <mat-card-content class="matCardContent">
                <h3 class="name1"> {{ pc.name }} </h3>   <!--nombre opcional-->
                <hr>
                <h3> {{ pc.name2 }} </h3>
            </mat-card-content>

            <div class="card-footer">
                <small class="text-muted"> Precio: {{ pc.price }}</small>  <!--GARANTIA-->
            </div>

            <!--Botones ver mas y añadir al carrito-->
            <div align="center"  >
                <button type="button" class="btn btn-outline-primary w-100" (click)="productInfo(pc)">
                    ver más
                </button>
                <button type="button" class="btn btn-outline-primary w-100" (click)="addToCart(pc)"> <!---->
                Añadir al carrito
              </button>
            </div>
            
        </mat-card>
    </div>
</div>

