.toolbarCarrito{
    margin-top: 50px;      /* espacio arriba del toolbar carrito */
}
.footerCarrito{
    margin-bottom: 50px; /* espacio abajo del footer carrito */
}

.contenedor{
    padding: 30px 8%;
}

table {
    width: 100%;
}

/**
.mat-elevation-z8 {
    font-size: xx-large;
}
*/
th{
    font-size: large;
    font-weight: 800;
}

td{
    font-size: large;
    font-weight: 800;
    
    height: 170px;
    width: 150px;
    font-size: small;
    text-align: center;
    justify-content: center;
}

/** Boton de cantidad producto*/
.cantidadProducto{
    width: 70px;
}

.imageTr{
    width: 70%;
}

.btnImprimir{
    margin:  750px; 
}

