
<h1>lista desde Categorias</h1>
<hr>

<div  style="clear: left;  width: 100%;" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid" class="contenedor animated fadeIn" fxLayoutAlign="flex-start">
  <!-- getProductsByCategory()  desde  _productosService -->
  <div fxFlex="20%" fxFlex.sm="50%" fxFlex.md="25%" *ngFor="let categoria of categorias " >
      <mat-card class="matCarPro">
          <mat-card-header>
              <mat-card-title> {{ categoria.categoryName }} </mat-card-title>
          </mat-card-header>
          <!--
          <img class="imageTr" mat-card-image [src]="getImgUrl(pc.img)" alt="Fotografia de muestra" >
          --><br>
          <mat-card-content align="center">
              <img class="imageTr" mat-card-image [src]="getImgUrl(categoria.img)" alt="Fotografia de muestra" width="196" height="180">
          </mat-card-content>

          <div class="card-footer">
              <small class="text-muted"> Categoria: {{ categoria.categoryId }} </small>  <!--GARANTIA-->
          </div>

          <div align="center" (click)="getCategoryId(categoria.categoryId)"   >
          <button type="button" class="btn btn-outline-primary w-100 ">
              ver más
          </button>
          </div>
          
      </mat-card>
  </div>
</div>


