.thead{
    transform: translate(25%, 0%);

    display: flex;
    background-color: white;
    width: 70%;
    align-items: right;
    padding-bottom: 80px; /* espacio abajo del boton */
    
  }

.checkbox{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 5px;
    text-align: center;
    border: 0px solid blue;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}




.category{
    width: 100%;
    text-align: center;
}

.btn1{
    margin-right: 150px;
}

.btn2{
    margin-right: 150px;
}

#contendorProd{
    width: 100%
}
#contPadre{
    margin-top: 2em;
    width: 100%;
}

.contenedor{
    clear: left;
    width: 100%;
    padding-bottom: 80px; /* espacio abajo del boton */
}

#imgPrin{
    width: 40%; 
    margin-top: 40px; 
    float: left;
    text-align: center;
}
#txtDescrip{
    width: 60%; 
    margin-top: 40px; 
    float: right;
    text-align: justify;
}
#imgCon{
    width: 60%;
}

.matCarPro{
    text-align: center;
    /*min-width: 250px;*/    /**ancho de la tarjeta*/
    /*min-height: 650px;*/      /**Alto de la tarjeta*/
}
.contenedorImg{         /*<div class="contenedorImg" mat-card-avatar >  mat-card-avatar = sirve para tener la imagen del contenedor de un mismo tamaño   */
    width: 100%;
    /*height: 20%;*/
    padding-top: 15px;
    padding-bottom: 170px;
    background: skyblue;
}
.imageTr{
    width: 70%;
}

#txtBuscador{
    width:17%;
    display: inline-block;
}

#matBuscador{
    width: 100%;
}

#iconSearch{
    width:10%; 
    display: inline-block; 
    text-align: left;
}

/*Estilo de Scrollable, barra vertical de desplazamiento para ver todo el contenido */
.matCardContent{ 
    /*para el scrollable, barra desplazable*/
    width: 100%;
    height: 100px;
    overflow-x: hidden; 
    overflow-y: auto;   
    /*para el scrollable, barra desplazable*/
    background: yellowgreen;
}
/*Desaparece la barra vertical, manteniendo el movimiento hacia abajo para ver todo el contenido*/
.matCardContent::-webkit-scrollbar {
    -webkit-appearance: none;
    width:10px;
}



/**----------------------------*/
/*
<div class="scrollUno">
It is a good platform to learn programming. 
It is an educational website. Prepare for the Recruitment drive
</div>
*/
/* Scroll bar, barra vetical prueba  */
.scrollUno {
    /*para el scrollable, barra desplazable*/
    width: 500px;
    height: 110px;
    overflow-x: hidden; 
    overflow-y: auto;   
    /*para el scrollable, barra desplazable*/
}
.scrollUno::-webkit-scrollbar {
    /* -webkit-appearance: none;*/  /*Desaparece la barra vertical, manteniendo el movimiento hacia abajo para ver todo el contenido*/
    width:10px;
}
.scrollUno::-webkit-scrollbar-thumb {  /*estilo de barra vertical*/
    background-color: #797979;
    border-radius: 20px;
    border: px solid #f1f2f3;
}
/**----------------------------*/




/*Extra large device (laptops/desktops), 1200 and up */
@media only screen and (max-width: 1200px), screen and (max-device-width: 1200px ){

}
/*large device (laptops/desktops), 992 and up */
@media only screen and (max-width: 992px), screen and (max-device-width: 992px ){
   
    #imgPrin{
        width: 100%; 
        float: left;
        text-align: center;
    }
    #imgCon{
        width: 30%;
    }
    #txtDescrip{
        margin-top: 0px; 
        width: 100%; 
        text-align: center;
    }

    #txtBuscador{
        width:90%;
        display: inline-block;
    }

    #matBuscador{
        width: 100%;
    }
    
    #iconSearch{
        width:10%; 
        display: inline-block; 
        text-align: left;
    }

    
}

/*Medium  device (landscape tablets), 768 and up */
@media only screen and (max-width: 768px), screen and (max-device-width: 768px ){

    #txtBuscador{
        width:90%;
        display: inline-block;
    }

    #matBuscador{
        width: 100%;
    }
    
    #iconSearch{
        width:10%; 
        display: inline-block; 
        text-align: left;
    }



}


/*Small  device (portrait phone), 600 and up */
@media only screen and (max-width: 600px), screen and (max-device-width: 600px ){
    .imageTr{
        width: 50%;
    }
    .container h2{
        font-size: medium;
    }
}