<h1 >Productos</h1>
<hr>

<div style="width: 1000px;">
  <!--izquierda-->
  <div style=" width: 300px; float: left;" >
    <img mat-card-image src= "assets/img/aquaman.png" class="card-img-top" >
  </div>

  <!--derecha-->
  <div class="container  animated fadeIn" style="background-color:#AAAAAA; width: 600px; margin-top: 40px; float: right;"  >
    <p>Orientacion de venta de computadoras con WebCrawler.
      Busca la mejor computadora de acuerdo a tus necesidades y presupuesto
    </p>
  </div>

  <!--abajo-->
  <div style="clear: left;  width: 1150px;" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px grid" class="contenedor animated fadeIn" fxLayoutAlign="flex-start">
    <div fxFlex="25%" fxFlex.sm="10%" fxFlex.md="33" *ngFor="let producto of productos" >
      <mat-card class="prod">

        <mat-card-header>
          <mat-card-title> Producto </mat-card-title>
        </mat-card-header>
       <!-- <img mat-card-image src= "assets/img/batman.png" class="card-img-top" alt="...">-->
        <img mat-card-image [src]="getImgUrl(producto.img)" alt="Fotografia de muestra" class="image">

        <mat-card-content align="center">
          <h3> {{ producto.name }} </h3>
        </mat-card-content>

        <div class="card-footer">
          <small class="text-muted"> {{ producto.description }} </small>  <!--GARANTIA-->
        </div>

        <div align="center"  (click)="getProductId(producto.productId)">
          <button type="button" class="btn btn-outline-primary w-100 ">
            ver más
          </button>
        </div>
      </mat-card>
    </div>
  </div>

</div>

<!--Segundo Div-->
<hr>
