<mat-toolbar color="primary">
  <span class="fill-remaining-space">{{productLast.name2}}</span>
  <mat-icon class="icon" (click)="close()">close</mat-icon>
</mat-toolbar>
<hr>

<div  class="producto">
  <!--izquierda-->
  <div class="img" >
    <img mat-card-image [src]="getImgUrl(productLast.img)" alt="Fotografia de muestra" >
  </div>
  
  <!--derecha-->
  <div class="description  animated fadeIn"  >
    <h2>{{ productLast.name }}</h2>

    <table class="">
      <tr>
        <td> <h4>Precio: {{ productLast.price }}</h4> </td>
      </tr>
      <tr>
        <td> <h4>Stock: {{ productLast.stock }}</h4> </td>
      </tr>
      <tr class="texto-justificado">
        <td> <h4>Descripción del producto:</h4>
             <h4> {{ productLast.description }} </h4>
        </td>     
      </tr>
    </table>
    <hr>
  </div>


  <!--datos de la tienda, abajo derecha-->
  <div class="shop  animated fadeIn"  >
    <h4>Tienda: {{productLast.shopName}}</h4>
  </div>  
</div>


<div align="center">
  <button class="btn btn-outline-primary w-100" color="primary"  (click)="close()" >Cerrar</button>
</div>





<!--INFO sin usar aun
(click)="openModal(contenido)"-->
<!--Modal:-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> {{ tienda.name }}</h4> <!--Modal: Titulo de la tienda: -->
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <!--IMG-->
      <img mat-card-image [src]="getImgUrl(tienda.img)" alt="Fotografia de muestra" class="image" width="700" height="200">
      <p>Descripción:</p>
      {{ tienda.description }}
      <hr>
      <p>Ubicación:</p>
      <p>{{ tienda.location  }}</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
    </div>
</ng-template>


<!--

-->
