<h1>{{ producto.name }}</h1> 
<hr>

<div  class="producto" style="width: 1100px;">
  <!--izquierda-->
  <div style=" width: 300px; float: left;" >
    <img mat-card-image [src]="getImgUrl(producto.img)" alt="Fotografia de muestra" class="image" width="400" height="400">
  </div>
  
  <!--derecha-->
  <div class="description  animated fadeIn" style="background-color:#AAAAAA; width: 700px; margin-top: 40px; float: right;"  >
    <h4>{{ producto.name }}</h4>

    <table class="">
      <tr>
        <td> <h6>Precio: {{ producto.price }}</h6> </td>
      </tr>
      <tr>
        <td> <h6>Marca: {{ marca.name }}</h6> </td>
      </tr>
      <tr class="texto-justificado">
        <td> <h6 class="texto-justificado">Descripción del producto:</h6> {{ producto.description }}</td>     
      </tr>
    </table>
    <hr>
  </div>


  <!--datos de la tienda, abajo derecha-->
  <div class="shop  animated fadeIn" style=" width: 700px; margin-top: 20px; float: right;"  >
    <h4>Tienda: {{ tienda.name }} {{tienda.shopId}}</h4>
    <img mat-card-image [src]="getImgUrl(tienda.img)" width="500" height="150" alt="Fotografia de muestra" class="image">

  </div>  

  <!--Boton Modal para tienda, abajo derecha-->
  <div class="buttonModal  animated fadeIn" style="width: 670px; margin-top: 5px; float: right;"  >
    <button type="button" class="btn btn-outline-primary " (click)="openModal(contenido)" style="width: 100px; margin-top: 10px; ">
      Ver más
    </button>
  </div>  
</div>


<!--INFO-->
<!--Modal:-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> {{ tienda.name }}</h4> <!--Modal: Titulo de la tienda: -->
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <!--IMG-->
      <img mat-card-image [src]="getImgUrl(tienda.img)" alt="Fotografia de muestra" class="image" width="700" height="200">
      <p>Descripción:</p>
      {{ tienda.description }}
      <hr>
      <p>Ubicación:</p>
      <p>{{ tienda.location  }}</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
    </div>
</ng-template>


<!--
<form [formGroup]="productForm"   class="form" style="clear: left;">
  <div>
    <label >Nombre del Producto: </label>
    <input matInput class="form-control"  readonly="readonly"  formControlName="name">
  </div>
</form>
-->
