<h1>{{ producto.name }}</h1> 
<hr>

<div  class="producto" style="width: 1100px;">
  <!--izquierda-->
  <div style=" width: 300px; float: left;" >
    <img mat-card-image src= "assets/img/aquaman.png" class="card-img-top" >
  </div>
  
  <!--derecha-->
  <div class="container  animated fadeIn" style="background-color:#AAAAAA; width: 700px; margin-top: 40px; float: right;"  >
    <p>{{ producto.name }}</p>

    <table class="">
      <tr>
        <td>Marca: {{ marca.name }}</td>
        <td>Tipo de PC: {{ tipoProducto.name }}</td>
      </tr>
      <tr>
        <td> {{ producto.procesador }} </td> <!--Procesador:-->
        <td> {{ producto.memoriaRam }} </td> <!--Memoria Ram: -->
      </tr>
      <tr>
        <td> {{ producto.discoAlmacenamiento }}</td> <!--Disco de almacenamiento:  -->
        <td>Tarjeta de {{ producto.tarjetaVideo }}</td> <!--Tarjeta de video: -->
      </tr>
      <tr>
        <td> {{ producto.pantalla }} </td> <!--Pantalla: -->
      </tr>
    </table>
    <hr>
  </div>

  <!--abajo derecha, Descripcion extra del producto-->
  <div class="container  animated fadeIn" style="background-color:#AAAAAA; width: 700px; margin-top: 20px; float: right;"  >
    <p> {{ producto.description }} </p> <!--Garantía: -->
  </div>

  <!--datos de la tienda, abajo derecha-->
  <div class="container  animated fadeIn" style=" width: 700px; margin-top: 20px; float: right;"  >
    <p>Nombre y logo de la tienda</p>
    <p>{{ tienda.name }}</p>
    <img mat-card-image src= "assets/img/batman.png" class="card-img-top" style="width: 150px;">
  </div>  

  <!--Boton, abajo derecha-->
  <div class="container  animated fadeIn" style="  width: 670px; margin-top: 5px; float: right;"  >
    <button type="button" class="btn btn-outline-primary  " style="width: 100px; margin-top: 10px; ">
      Ver más
    </button>
  </div>  
  
</div>

<!--
<form [formGroup]="productForm"   class="form" style="clear: left;">
  <div>
    <label >Nombre del Producto: </label>
    <input matInput class="form-control"  readonly="readonly"  formControlName="name">
  </div>
</form>
-->
