.buttonModal{
  padding-bottom: 10%;
}

.texto-justificado{
  text-align: justify;
}



table 
{ 
    width: 600px; 
    text-align: left; 
    border : 1px solid gray; 
    border-spacing: 10px;
} 

.oscuro .modal-content {
    background-color: #021f2e;
    color: white;
  }
  .oscuro .close {
    color: black;
  }

.azul {
    background-color: black;
  }
