.fill-remaining-space {
  flex: 1 1 auto;
}
.icon {
  cursor: pointer;
}

.producto{
  width: 100%
}

.img{
  width: 30%; 
  float: left;
}

.description{
  background-color:#AAAAAA;
  width: 70%;
  margin-top: 40px;
  float: right;
}

.shop{
  width: 70%;
  margin-top: 20px;
  float: right;
}

.texto-justificado{
  text-align: justify;
}




.buttonModal{
  padding-bottom: 10%; /* espacio abajo del boton que activa el modal*/
}

table 
{ 
    width: 600px; 
    text-align: left; 
    border : 1px solid gray; 
    border-spacing: 10px;
} 

.oscuro .modal-content {
    background-color: #021f2e;
    color: white;
  }
  .oscuro .close {
    color: black;
  }

.azul {
    background-color: black;
  }
