<h1>Tiendas</h1>
<hr>


<div class="row row-cols-1 row-cols-md-3 g-4" >
  
    <div class="col" >
        <div class="card h-40" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
            <button type="button" class="btn btn-outline-primary">
                ver más
            </button>
        </div>
    </div>
    
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid" class="contenedor" fxLayoutAlign="flex-start">
      <div fxFlex="25%" fxFlex.sm="50%" fxFlex.md="33" *ngFor="let tienda of tiendas" >
        <mat-card class="prod">

          <mat-card-header>
            <mat-card-title>name</mat-card-title>
          </mat-card-header>
          <img mat-card-image src= "{{ tienda.img }}" class="card-img-top" alt="...">

          <mat-card-content align="center">
            <h3> Descripción </h3>
          </mat-card-content>

          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>

          <div align="center">
            <button type="button" class="btn btn-outline-primary">
              ver más
            </button>
          </div>
          
          
        </mat-card>
      </div>
</div>

