  
.contenedor{
    width: 100%;
    padding: 30px 4%;
    padding-left: calc(0% + 10px);
}

.prod {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 15px !important;
}