.contenedor{
    width: 100%;
}
.matCarPro{
    text-align: center;
    margin-bottom: 50px;
}

.contenedorImg{         /*<div class="contenedorImg" mat-card-avatar >  mat-card-avatar = sirve para tener la imagen del contenedor de un mismo tamaño   */
    width: 100%;
    /*height: 20%;*/
    padding-top: 15px;
    padding-bottom: 170px;
}
.imageTr{
    padding-top: 40px;
    width: 90%;
}

/*Estilo de Scrollable, barra vertical de desplazamiento para ver todo el contenido */
.matCardContent{ 
    width: 100%;
    height: 70px;
    overflow-x: hidden; 
    overflow-y: auto;   
}


/*Extra large device (laptops/desktops), 1200 and up */
@media only screen and (max-width: 1200px), screen and (max-device-width: 1200px ){

}
/*large device (laptops/desktops), 992 and up */
@media only screen and (max-width: 992px), screen and (max-device-width: 992px ){
   
  .contenedor{
        width: 100%;
    }
    .matCarPro{
        text-align: center;
        margin-bottom: 50px;
    }

    .imageTr{
        width: 100%;
    }
    
}

/*Medium  device (landscape tablets), 768 and up */
@media only screen and (max-width: 768px), screen and (max-device-width: 768px ){

    .contenedor{
        width: 100%;
    }
    .matCarPro{
        text-align: center;
        margin-bottom: 50px;
    }

    .imageTr{
        width: 100%;
    }
}


/*Small  device (portrait phone), 600 and up */
@media only screen and (max-width: 600px), screen and (max-device-width: 600px ){

    .contenedor{
        width: 100%;
    }
    .matCarPro{
        text-align: center;
        margin-bottom: 50px;
    }

    .imageTr{
        width: 100%;
    }

}