
<h1>Tiendas</h1>
<hr>

  <!--izquierda-->
    
  <!--abajo-->
<div class="contenedor animated fadeIn" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid"  fxLayoutAlign="flex-start">
    <!-- Se pondra un pipe    | filter:filterPost -->  
    <div fxFlex="25%" fxFlex.sm="50%" fxFlex.md="25%" *ngFor="let tienda of tiendas " >
        <mat-card class="matCarPro">
            <mat-card-header>
                <mat-card-title>  </mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src= "assets/img/batman.png" class="card-img-top" alt="...">-->
            <img class="imageTr" mat-card-image [src]="getImgUrl(tienda.img)" alt="Fotografia de muestra" >

            <mat-card-content align="center">
                <h3> {{ tienda.name }} </h3>
            </mat-card-content>

            <div class="card-footer">
                <small class="text-muted"> Tienda: {{tienda.shopId }} </small>  <!--GARANTIA-->
            </div>

            <div align="center" >
                <button type="button" class="btn btn-outline-primary w-100" (click)="getShopId(tienda.shopId)">
                    ver más
                </button>
            </div>
      </mat-card>
    </div>
</div>



