<mat-toolbar color="primary">
  <span class="fill-remaining-space">{{shopLast.name}}</span>
  <mat-icon class="icon" (click)="close()">close</mat-icon>
</mat-toolbar>
<hr>


  <!--izquierda-->
  
  <div  class="producto" >
    <!--Logo de la tienda-->
    <div>
      <img mat-card-image [src]="getImgUrl(shopLast.img)" class="logoImg" alt="Fotografia de muestra" >
    </div>
    
    <!--Descripcion-->
    <div class="description  animated fadeIn" >
      <h3> <b>Tienda: </b> {{ shopLast.shopId }}</h3>
      <table>
        <tr class="texto-justificado">
          <td> <h3 class="texto-justificado">   <b>Descripción</b>  <br> {{ shopLast.description }}</h3></td>     
        </tr>
        <tr>
          <td> 
              <a href="{{ shopLast.location }}"  target="_blank">            <!--target="_blank" , sirve para abrir un enlace en una nueva ventana-->
                <button class=" btn btn-outline-primary"> Ver tienda</button>
              </a>
          </td>
        </tr>
      </table>
      <hr>
    </div>
  
  
  </div>

  <div align="center">
    <button class="btn btn-outline-primary w-100" color="primary"  (click)="close()" >Cerrar</button>
  </div>