.logoImg{
  width: 100%;
  height: 300px;
}

.description{
  margin-top: 40px;   /* espacio arriba del boton */
  background-color:#AAAAAA;
  width: 100%;
}

.buttonShowProduct{
    margin-top: 20px;    /* espacio arriba del boton */
    padding-bottom: 10%; /* espacio abajo del boton */
  }
  
  .texto-justificado{
    text-align: justify;
  }
  