.fill-remaining-space {
  flex: 1 1 auto;
}
.icon {
  cursor: pointer;
}

.logoImg{
  width: 90%;
  height: 200px;
  display:block;
  margin:auto;
}

.producto{
  width: 100%
}

.description{
  margin-top: 40px;   /* espacio arriba del boton */
  background-color:#AAAAAA;
  width: 100%;
}

.buttonShowProduct{
    margin-top: 20px;    /* espacio arriba del boton */
    padding-bottom: 10%; /* espacio abajo del boton */
  }
  
  .texto-justificado{
    text-align: justify;
  }
  