
<!--
  //nota agregar otro PIPE.ts para la busqueda en el home

  Marca: DELL, HP, Asus, Lenovo
  Memoria Ram: 4Gb, 8Gb, 12Gb, 16Gb 
  Procesador: AMD Ryzen, Intel
  Almacenamiento: SSd 128, 256, 512 GB, 1TB
  
  Tarjeta de video: Delphi, Power Builder,
  // tarjeta dedicada,mas caro y tarjeta integrada
  //producto 3: gráficos AMD Radeon integrados
  //producto 4: GRÁFICOS INTEGRADOS: Intel Iris Plus Graphics
  //producto 5: Video DEDICADO: 4GB Nvidia MX 230 GDDR5
  //producto 6: GRAFICOS Intel UHD Graphics Integrado
  //producto 7: Gráficos de vídeo Integrado: AMD Radeon Vega 3
  //producto 8: Video: 2GB AMD Radeon 530 (GDDR5 - Dedicados) + Intel HD Graphics 620 (Integrada)
  //producto 9: Tarjeta de Video: AMD Radeon Vega 3 Graphics , integrado? creo que si
  precio: 1000Bs - 5000Bs
-->

  <h1>ENCUESTA</h1><br>


  <!--Informacion de filtros-->
  <div  class="contenedorDescription" >
    
    <!--Izquierda-->
    <div  *ngFor="let caja of checkbox "  class="checkbox" >
      <input type="{{ caja.type }}" value={{caja.id}}  (change)="ModifyFilterDescription($event)"  >  <!--value={{caja.id}}, obtiene el valor a comparar-->
        {{ caja.info }}
    </div>
    <br><br>
    <!--Derecha-->
    <div class="tableDescription">
      <table>
        <thead>
          <tr>
            Descripción
          </tr>
        </thead>      
        <!--muestra de una descripcion-->
        <tbody>
            <tr>
              <td *ngFor="let description of array1 "  class="description">
                {{ description.info }} <br>
                {{ description.id }}. {{ description.description }}
              </td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>
  <hr>



  <!--Encuesta-->
  <div class="encuesta">
    <!--Izquierda-->
    <div class="filtroEncuesta">
      <!--PROBANDO NUEVO FILTRO-->
      <!--
      <input type="text" name="filterBrand" [(ngModel)] = "filterBrand" placeholder="search Brand">
      <input type="text" name="filterRam"   [(ngModel)] = "filterRam"   placeholder="search Ram">
      <br>
      --> 
      <div class="combobox" >
        <!-- Búsqueda por marca -->
        <h3>Marca:</h3>
        <select name="filterBrand" [(ngModel)] = "filterBrand" class="selectButtom">
          <option value=""    >   Marca </option>
          <option value="HP"    > HP </option>
          <option value="DELL"  > DELL</option>
          <option value="Lenovo"> Lenovo</option>
          <option value="Asus"  > Asus</option>
          <option value="Huawei"> Huawei</option>
        </select><br><br>
        <!-- Búsqueda por Memoria Ram -->
        <h3>Memoria Ram:</h3>
        <select name="filterRam" [(ngModel)] = "filterRam"   class="selectButtom">
          <option value=""    >   Memoria Ram </option>
          <option value="Ram: 4 GB"  > 4 GB </option>
          <option value="Ram: 8 GB"  > 8 GB</option>
          <option value="Ram: 12 GB" > 12 GB</option>
          <option value="Ram: 16 GB" > 16 GB</option>
        </select><br><br>
        <!-- Búsqueda por Procesador -->
        <h3>Procesador:</h3>
        <select name="filterProcessor" [(ngModel)] = "filterProcessor"  class="selectButtom">
          <option value=""    >       Procesador </option>
          <option value="Intel"     > Intel </option>
          <option value="AMD Ryzen" > AMD Ryzen</option>
        </select><br><br>
        <!-- Búsqueda por Almacenamiento -->
        <h3>Almacenamiento:</h3>
        <select name="filterStorage" [(ngModel)] = "filterStorage"    class="selectButtom">
          <option value=""    > Almacenamiento </option>
          <option value="1 TB"       > 1 TB </option>
          <option value="SSD 128 GB" > SSD 128 GB </option>
          <option value="SSD 256 GB" > SSD 256 GB</option>
          <option value="SSD 512 GB" > SSD 512 GB</option>
        </select><br><br>
        <!-- Búsqueda por Tarjeta Gráfica o de video -->
        <h3>Tarjeta Gráfica:</h3>
        <select name="filtertarjetaGrafica" [(ngModel)] = "filtertarjetaGrafica"   class="selectButtom">
          <option value=""                          > Tarjeta gráfica </option>
          <option value="Tarjeta gráfica integrada" > Tarjeta gráfica integrada</option> 
          <option value="Tarjeta gráfica dedicada"  > Tarjeta gráfica dedicada</option>
        </select>
      </div>  
    </div>

    <!--Derecha-->
    <div class="filtroResultado">
      <!--Informacion de Encuesta-->
      <table class="header" >
        <thead >
          <tr>
            <th> Marca</th>
            <th> Memoria Ram </th>
            <th> Procesador </th>
            <th> Almacenamiento</th>
            <th> Tarjeta Gráfica</th>

            <th> Nombre2</th>
            <th> Precio</th>
            <th> Imagen</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let producto of productos | filter:filterBrand  | filter:filterRam | filter:filterProcessor | filter:filterStorage  | filter:filtertarjetaGrafica "> 
            <!--marca, ram, tarjeta video-->
            <td > {{ producto.brand }}  </td>
            <td > {{ producto.ram }} </td>
            <td > {{ producto.processor }} </td>
            <td > {{ producto.storage }} </td>
            <td > {{ producto.tarjetaGrafica }} </td>
            
            <!--Producto-->
            <td>  {{ producto.name2}} </td>
            <td>  {{ producto.price }} </td>
            <td> <img class="imageTr"  mat-card-image [src]="getImgUrl(producto.img)" alt="Fotografia de muestra" (click)="productInfo(producto)"> </td>
            <td>
              <button type="button" class="btn btn-outline-primary w-100"  (click)="productInfo(producto)">
                ver más
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>



