<p>encuesta works..!</p>

<div>
  Marca: DELL, HP, Asus, Lenovo
  Memoria Ram: 4Gb, 8Gb, 16Gb
  Tarjeta de video: Delphi, Power Builder
  Procesador: AMD Ryzen, Intel
  Disco solido: 500 GB, 1TB
  precio: 1000Bs - 5000Bs
</div>

<!--
EJEMPLO FUNCIONAL 
Muestra las cajas del Array Checkbox   
<hr><p>Probando cuestionario ejemplo funcional</p>
<div class="container">
  <div *ngFor="let caja of checkbox ">
    <li class="li">
      <input type="{{ caja.type }}" value={{caja.id}}  (change)="ModifyFilter($event)"  >
      {{ caja.id }} {{ caja.price }}
    </li>
  </div>
  Muestra los Items del Array Items 
  <div *ngFor="let item of array1 ">
    <li>
      {{ item.id }} {{ item.price }}
    </li>
  </div>
</div>
-->

<!--PROBANDO Multi filter con MARCA -->
<!--CUETINARIO Brand: Muestra las cajas del Array Checkbox-->
<hr><p>Marca:</p>
<div *ngFor="let caja of checkbox ">
  <li class="li">
    <input type="{{ caja.type }}" value={{caja.brand}}  (change)="ModifyFilterBrand($event)"  >  <!--value={{caja.marca}}, obtiene el valor a comparar-->
    {{ caja.id }} :  {{ caja.brand }}
  </li>
</div>
<!--CUETINARIO Ram: Muestra las cajas del Array Checkbox-->
<hr><p>Memoria Ram: </p>
<div *ngFor="let caja of checkbox ">
  <li class="li">
    <input type="{{ caja.type }}" value={{caja.ram}}  (change)="ModifyFilterRam($event)"  >  <!--value={{caja.marca}}, obtiene el valor a comparar-->
    {{ caja.id }} :  {{ caja.ram }}
  </li>
</div>



<!--RESULTADO: Muestra Marca y Ram del Array Items -->
<div *ngFor="let producto of productos ">
  <li>
    {{ producto.productId }},  Marca: {{ producto.brand }},  Ram:  {{ producto.ram }}
  </li>
</div>
<!---->




 <!--Buscador-->
 <div style="width: 100%; display: inline-block; text-align: right;">
    <div id= "txtBuscador" >
      <form class="example-form">
        <mat-form-field id="matBuscador" class="example-full-width" appearance="fill">
          <mat-label>Buscar</mat-label>
          <input matInput type="text"  autocomplete="off" placeholder="Buscar" name="filterPost" [(ngModel)] = "filterPost" >
        </mat-form-field>
      </form>
    </div>
    <div id= "iconSearch" >
      <button mat-raised-button color="primary"  style="height: 4em; vertical-align: 0.5em; background-color:#003cff3f; " disabled>
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>  
      </button>
    </div>
  </div>
  <!--FIN Buscador-->


 <!--PRODUCTOS-->
<!--abajo-->
<div class="contenedor animated fadeIn"  fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid"  fxLayoutAlign="flex-start">
  <!-- Se pondra un pipe    | filter:filterPost -->
  <div fxFlex="25%" fxFlex.sm="50%" fxFlex.md="25%"   *ngFor="let producto of productos | filter:filterPost " >
    <mat-card class="matCarPro">

      <mat-card-header>
        <mat-card-title> Laptop </mat-card-title>
      </mat-card-header>
     <!-- <img mat-card-image src= "assets/img/batman.png" class="card-img-top" alt="...">-->
      <img class="imageTr" mat-card-image [src]="getImgUrl(producto.img)" alt="Fotografia de muestra" (click)="productInfo(producto)">

      <mat-card-content class="texto-justificado">
        <h3> {{ producto.name2 }} </h3>   <!--nombre opcional-->
        <hr>
        <h3> {{ producto.name }} </h3>
      </mat-card-content>

      <div class="card-footer">
        <small class="text-muted"> Precio:{{ producto.price }} </small>  <!--GARANTIA-->
      </div>
       <!--(click)="getProductId(producto.productId, producto.shopId)"--> 
      <div class="button" align="center"  >
        <button type="button" class="btn btn-outline-primary w-100"  (click)="productInfo(producto)">
          ver más
        </button>
      </div>
    </mat-card>
  </div>
</div>

