
.contenedorDescription{
    width: 100%;
}
.checkbox{
    margin-right: 150px;
    display: inline-block;
}
.tableDescription{
    width: 100%;
}
.description:nth-child(even){
    text-align: justify;
    background: rgba(0, 255, 234, 0.911);
    border: burlywood 1px solid;
    
}
.description:nth-child(odd){
    text-align: justify;
    background: rgba(0, 255, 234, 0.158);
    border: burlywood 1px solid;
}






.encuesta{
    width: 100%; 
}
.filtroEncuesta{
    float: left;
    width: 20%;
}
.filtroResultado{
    float: right;
    width: 80%;
}
.combobox{
    float: left;
    width: 20%;
    padding-bottom: 100px;
}
.selectButtom{
    width: 170px;
}
.imageTr{
    width: 70px;
    height: 70px; 
}
h3{
    margin: 0;
    width: 400%;
}



table.header{
    border-collapse: separate;
    border: #b2b2b2 1px solid;
    padding-bottom: 100px;
}
td, th {
    border: black 1px solid;
    padding: 15px;
}
tr {
    border: black 1px solid;
    padding: 15px;
    text-align: justify;

}

