.contenedor{
    clear: left;
    width: 100%;
}
.matCarPro{
    text-align: center;
}

.imageTr{
    width: 100%;
}

.texto-justificado{
    text-align: justify;
    text-align: center;
}

.button{
    padding-bottom: 40%; /* espacio abajo del boton */
  }
  
.li{
    list-style-type: none;
    display: inline-block;
}


table.header{
    border-collapse: separate;
    border: #b2b2b2 1px solid;
}
td, th {
    border: black 1px solid;
    padding: 15px;
}

.app-btn {
    height: 32px;
    width: 110px;
    background: #f28100; 
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
  }